<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NewQuiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>NewQuiz: el juego de los acertijos</h2>
   	  <p>
        <%= respuesta %>
      <p>
    <a href="/quizes/question"> Responda de nuevo </a>
  </body>
</html>