  <br/>  
  <center><table>
  <tr>
  <td><label for="preg" class="rem">Pregunta:</label></td>
  <td><input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> </td></tr>
  <tr>
  <td><label for="resp" class="rem">Respuesta:</label></td>
  <td><input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> </td></tr>
  <tr>
  <td><label for="indi" class="rem">Indice:</label></td>
  <td><input type="text" id="indi" name="quiz[indice]" value="<%= quiz.indice %>"/> </td></tr>
  <tr><td colspan="2">Indice debe ser uno de estos valores: Humanidades, Ocio, Ciencia, Tecnología</td></tr>
  <tr>
  <td></td>
  <td><br/>
  <select name="tema" id="tema">
  	<option value="Otro" name="categoria" selected>Otro</option>
  	<option value="Humanidades" name="categoria">Humanidades</option>
  	<option value="Ocio" name="categoria">Ocio</option>
  	<option value="Ciencia" name="categoria">Ciencia</option>
  	<option value="Tecnologia" name="categoria">Tecnología</option>
  </select></td>
  </tr>
  <tr>
  <td></td>
  <td>
  <a href="/quizes/index"><button type="button">Cancelar</button></a>
  <input type="submit" value="Salvar"></td></tr>
  <tr>
  <td></td><td><a href="/quizes/index">Volver</a></td>
  </tr>
  </center>