  	  <p>
        <%= autor %>
      </p>
      <br/>
    <p>Soy Ingeniero Tecnico de Telecomunicación y me dedico a la programación de aplicaciones web.</p>
    <br/>
    <img src="/images/img.jpg" height="42" width="42">
