<form method="get" action="/quizes/answer">
  Categoria: <%= tema %><p>
  Pregunta:  <%= pregunta %><p>
  <input type="text" name="respuesta" placeholder="Responda por aqui"/>
  <input type="submit" value="Enviar respuesta"/>   
</form>
<a href="/quizes">Volver</a>