<form method="get" action="/quizes/answer">
  Pregunta: <%= pregunta %></p>
  <input type="text" name="respuesta" placeholder="Responda por aqui"/>
  <input type="submit" value="Enviar respuesta"> 
</form>
<p><a href="/quizes">Volver</a></p>      